html, body{
    background-color: lightblue;
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#menu{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
}


#menu img{
    padding-left: 2vw;
    width: 4vw;
}


#menu a{
    padding: 0vh 1vw 0vh 1vw;
    font-size: 1.2rem;
    text-decoration: none;
}

a:visited{
    color:  black;
}




#creations a{
    text-decoration: none;
}




#creations img{
    width: 30vw;
    border: dotted 0.7vw white;
    margin: 0vh 1vw 0vh 1vw;
}

#creations img:hover{
    opacity: 0.5;
}

#creations h2{
    margin-top: 40vh;
    text-align: center;
    font-size: 2rem;
}

#generique{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

#generique img{
    width: 35vw;
}

#generique p{
    font-size: 1.5rem;
    padding-left: 2vw;
    width: 50vw;
}

#film_noir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#film_noir img{
    width: 35vw;
}

#film_noir p{
    font-size: 1.5rem;
    padding-left: 5vw;
    width: ;
}



#documentaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#documentaire img{
    width: 35vw;
}

#documentaire p{
    font-size: 1.5rem;
    padding-left: 5vw;
}



article{
    padding-top: 4vh;
}

#moi{
    margin: 25vh 0vw 0vw 10vw;

}

body{
    display: none;
}




h1{
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
}


