html, body{
    background-color: lightblue;
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-image: url("fond.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#menu{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
}


#menu img{
    padding-left: 2vw;
    width: 4vw;
}


#menu a{
    padding: 0vh 1vw 0vh 1vw;
    font-size: 1.2rem;
    text-decoration: none;
}


a:visited{
    color:  black;
}



#creations a{
    text-decoration: none;
}




#creations img{
    border: dotted 0.7vw white;

}

#creations img:hover{
    opacity: 0.5;
}

#toucan{
    margin-top: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#toucan img{
    width: 35vw;
}

#toucan p{
    font-size: 1.5rem;
    padding-left: 10vw;
}

#gursimrat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40vh;
}

#gursimrat img{
    width: 25vw;
}

#gursimrat p{
    font-size: 1.5rem;
    padding-left: 5vw;
}



#vieux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40vh;
}

#vieux img{
    width: 25vw;
}

#vieux p{
    font-size: 1.5rem;
    padding-left: 5vw;
}



body{
    display: none;
}




h1{
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
}




